article, section, header, footer {
  display: block;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2d3c49;
}

hr {
  height: 20px;
  color: #7d97ad;
}

.img-udacity {
  width: 80px;
  margin-top: 20px;
}

.text-top-title {
  font-weight: 300;
  font-size: 50px;
}

.text-color-dimmed {
  color: #7d97ad;
}

.cat-top{
  width:100%;
  height: auto;
}
